project          = "commitscope"
environment      = "dev"
aws_region       = "eu-west-2"
bucket_name      = "commitscope-nick-dev"
athena_database  = "commitscope_dev"
container_image_uri = null
subnet_ids        = []
security_group_ids = []
