project               = "commitscope"
environment           = "dev"
aws_region            = "eu-west-2"
bucket_name           = "commitscope-nick-dev"
athena_database       = "commitscope_dev"
create_ecr_repository = true
ecr_repository_name   = "commitscope-dev"
container_image_uri   = null
subnet_ids            = ["subnet-0123456789abcdef0", "subnet-0123456789abcdef1"]
security_group_ids    = ["sg-0123456789abcdef0"]
sample_config_path    = "examples/config.dev.json"
